<nav class="navbar navbar-expand-lg bg-white navbar-light shadow fixed-header">
    <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5 logo">
        <img src="../img/logo.png" />
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="services.html" class="nav-item nav-link">Services</a>
            <a class="nav-item nav-link" href="testimonial.html">Testimonial</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <a href="#" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block"><i class="fa fa-phone-alt ms-3"></i> 9220347760</i>
        </a>
    </div>
</nav>